// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #ffffff !important;
}

.logo {
    width: 150px !important;
    max-width: 150px !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}





.main-content {
    border: 1px solid #aaa;
    border-radius: 20px;
    border-collapse: separate;
}

.banner {
    /*@editable*/ background-color: $primary-color !important;
}

.action-text {
    /*@editable*/ color: white;
}
.action-button a {
    /*@editable*/background-color: white;
    /*@editable*/color: $primary-color !important;
    border-radius: 6px;
    font-weight: 800 !important;
    padding: 14px 18px !important;
}

.post-item-img {
    border-radius: 6px !important;
    width:85px !important;
    max-width:85px !important;
    min-width:85px !important;
    height:85px !important;
    max-height:85px !important;
    min-height:85px !important;
    object-fit: cover;
    margin-right:10px !important;

}

.post-grid-img {
    border-radius: 6px !important;
    margin-bottom:4px !important;
    max-width: 100% !important;
    max-height: auto !important;
    min-width: 100% !important;
    min-height: auto !important;
}

.post-title {

    font-family: $body-font-family !important;
    font-weight: 600 !important;
    color: #000 !important;
    text-decoration: none !important;


}
.post-count {
    margin-bottom:4px !important;
    font-family: $body-font-family !important;
    font-weight: 600 !important;
    font-size: 36px;
    color: #aaaaaa !important;
}
.post-title-small {
    font-size: 18px !important;
}

.post-author {
    margin-bottom:0px !important;
    font-size: 14px !important;
    margin-top:4px !important;
}

.post-img-col {
    min-width:85px !important;
    max-width:85px !important;
    margin-right:10px !important;
    padding-right:10px !important;
}
.post-content-col {
    padding-top:6px;
    max-width: calc(100% - 95px) !important;
}

.signature {
    width: 100px;
    max-width:100px;
}
.avatar {
    width: 60px;
    max-width:60px;
    border-radius: 100%;
    margin-bottom:8px;
}

.block {
    background: #ececec !important;
    //padding: 16px !important;
    table.container {
        background: #ececec !important;
    }
}

.instagram-block {
    border-radius: 20px;
    margin-top:24px !important;
    background: #ececec !important;
}
.caption {
    color: #aaa;
    font-size: 14px;
    text-decoration: underline;

}

.verticalMargin {
    margin-top: 32px !important;
}
.topMargin {
    margin-top: 32px !important;
}
.topMarginSmall {
    margin-top: 16px !important;
}

.dynamic-padding-left {
    padding-left:32px;
    padding-right:32px;
}

@media only screen and (max-width: #{$global-breakpoint}) {
    .dynamic-padding-left {
        padding-left:16px !important;
        padding-right:16px !important;
    }
}