<container mc:variant="BANNER" class="banner topMarginSmall" mc:hideable>
    <row style="margin-top:32px;">
        <columns large="12">
            <center>
                <h3 style="margin-bottom:16px;" class="action-text text-center" mc:edit="action-text" class="">
                    Here's
                    some text for you
                </h3>
                <button class="action-button" mc:edit="action-button" href="#">Take
                    Survey</button>
            </center>
        </columns>
    </row>
</container>