<container style="margin-top: 48px;" mc:variant="FOOTER">
    <row class="collapse" style="max-width: 300px; margin:0 auto;">
        <columns small="1">

        </columns>
        <columns small="2">
            <a href="https://www.facebook.com/CatholicMatch/" class="tCanEdit"
                style="text-align:center;display:inline-block;color:#000;background-color:transparent;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;text-decoration:none;border-radius:2px;font-size:1em;line-height:1.5em;margin:.7em"><img
                    src="https://d2q86h5pvn46dj.cloudfront.net/emails/templates/facebook2x.png"
                    style="height:2rem;width:2rem" /></a>
        </columns>
        <columns small="2">
            <a href="https://www.instagram.com/catholicmatch/" class="tCanEdit"
                style="text-align:center;display:inline-block;color:#000;background-color:transparent;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;text-decoration:none;border-radius:2px;font-size:1em;line-height:1.5em;margin:.7em"><img
                    src="https://d2q86h5pvn46dj.cloudfront.net/emails/templates/instagram2x.png"
                    style="height:2rem;width:2rem" /></a>
        </columns>
        <columns small="2"><a href="https://www.pinterest.com/catholicmatch" class="tCanEdit"
                style="text-align:center;display:inline-block;color:#000;background-color:transparent;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;text-decoration:none;border-radius:2px;font-size:1em;line-height:1.5em;margin:.7em"><img
                    src="https://d2q86h5pvn46dj.cloudfront.net/emails/templates/pinterest2x.png"
                    style="height:2rem;width:2rem" /></a>
        </columns>
        <columns small="2"><a href="https://twitter.com/catholicmatch" class="tCanEdit"
                style="text-align:center;display:inline-block;color:#000;background-color:transparent;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;text-decoration:none;border-radius:2px;font-size:1em;line-height:1.5em;margin:.7em"><img
                    src="https://d2q86h5pvn46dj.cloudfront.net/emails/templates/twitter2x.png"
                    style="height:2rem;width:2rem" /></a>
        </columns>
        <columns small="2"><a href="https://www.youtube.com/catholicmatch" class="tCanEdit"
                style="text-align:center;display:inline-block;color:#000;background-color:transparent;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;text-decoration:none;border-radius:2px;font-size:1em;line-height:1.5em;margin:.7em"><img
                    src="https://d2q86h5pvn46dj.cloudfront.net/emails/templates/youtube2x.png"
                    style="height:2rem;width:2rem" /></a>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <div
                    style="color:#aaa;display:inline-block;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;font-size:.7em;line-height:1em;font-weight:300">
                    CatholicMatch
                    is
                    the
                    premiere
                    online
                    service
                    for
                    single
                    Catholics.
                </div>
                <div
                    style="color:#aaa;display:inline-block;font-family:&#x27;Nunito Sans&#x27;, Arial,sans-serif;font-size:.7em;line-height:1em;font-weight:300">
                    Our
                    mailing
                    address
                    is:
                    CatholicMatch,
                    LLC
                    PO
                    Box
                    154
                    Zelienople,
                    PA
                    16063
                </div>
            </center>
        </columns>
    </row>
    <row>
        <columns small="4">
            <center>
                <a class="caption" mc:edit="subscribe" color="#667" href="*|LIST:SUBSCRIBE|*">Subscribe</a>
            </center>

        </columns>
        <columns small="4">
            <center>
                <a class="caption" mc:edit="unsubscribe" color="#667" href="*|UNSUB|*">Unsubscribe</a>
            </center>
        </columns>
        <columns small="4">
            <center>
                <a class="caption" mc:edit="update-profile" color="#667" href="*|UPDATE_PROFILE|*">Update Profile</a>
            </center>
        </columns>
    </row>

</container>