<container class="instagram-block" mc:hideable mc:variant="POST FEATURE ITEMS">
    <div style="margin-top: 32px; margin-bottom:16px;" class="dynamic-padding-left">
        <h4 mc:edit="instagram-title">Check out these 4 things for this week</h4>
    </div>
    <row mc:repeatable="post-grid-items-1">
        {{> instagram-post index="1"}}
        {{> instagram-post index="2"}}
    </row>
    <row mc:repeatable="post-grid-items-2">
        {{> instagram-post index="3"}}
        {{> instagram-post index="4"}}
    </row>
</container>