<wrapper mc:repeatable="post-grid-title" mc:hideable class="topMarginSmall">
    <container class="block">
        <row style="margin-top:24px;">
            <columns small="12">
                <p mc:edit="post-block-title" class="subheader">Religious Articles</p>
            </columns>
        </row>
        <row mc:repeatable="post-grid-items-2">
            <columns large="6" small="12" style="padding-right: 16px;">
                {{> post-list-item index="1"}}
            </columns>
            <columns large="6" small="12">
                {{> post-list-item index="2"}}
            </columns>
        </row>
        <row>
            <columns large="6" small="12" style="padding-right: 16px;">
                {{> post-list-item index="3"}}
            </columns>
            <columns large="6" small="12">
                {{> post-list-item index="4"}}
            </columns>
        </row>
    </container>
</wrapper>