<row class="collapse">
    <columns small="2" large="1" class="post-img-col">
        <img mc:edit="post-item-img-{{index}}" class="post-item-img" height="85px" width="85px"
            src="https://mcusercontent.com/a7f07c2bb8725424e24c60194/images/de354b00-d1c0-8c81-7e60-153cad67bf33.jpeg" />
    </columns>
    <columns small="10" large="11" class="post-content-col">
        <div class="post-title" mc:edit="post-item-title-{{index}}">
            Rejection doesn't have to be a big deal
        </div>
        <p mc:edit="post-item-author-{{index}}" class="post-author">
            Chris Easterly
        </p>
    </columns>
</row>