<row mc:hideable>
    <columns small="12" mc:repeatable="top-section">
        <img class="signature" width="100px" mc:edit="signature-img"
            src=" https://mcusercontent.com/a7f07c2bb8725424e24c60194/images/0f25cab1-2171-4215-8e64-873ce0dd33cb.jpg" />
        <img mc:edit="avatar" class="avatar"
            src="https://mcusercontent.com/a7f07c2bb8725424e24c60194/images/c37744d3-8aa3-4681-7ba1-12ffe37dd573.jpg" />
        <p mc:edit="signature-text" line-height="1.2em" font-size="16px" align="left" padding="0px">
            Kateri Bean<br>
            <i>Content Manager</i><br>
            <a href="plus.catholicmatch.com">plus.catholicmatch.com</a>
        </p>
        </p>
    </columns>
</row>