<container mc:hideable mc:variant="POST LIST ITEMS" class="topMargin">
    <row mc:repeatable="post-list-items-b1">
        <columns small="12" large="12" style="padding-right: 16px;">
            {{> post-list-item index="b1"}}
        </columns>
    </row>
    <row mc:repeatable="post-list-items-b2">
        <columns small="12" large="12" style="padding-right: 16px;">
            {{> post-list-item index="b2"}}
        </columns>
    </row>
    <row mc:repeatable="post-list-items-b3">
        <columns small="12" large="12" style="padding-right: 16px;">
            {{> post-list-item index="b3"}}
        </columns>
    </row>
</container>